<div class="d-flex flex-column h-100 justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row mt-0 g-3">
              <h3 class="card-title text-center fw-semibold">Log in</h3>

              <form class="row g-3 mx-auto" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                <div class="col-12">
                  <input
                    type="text"
                    class="form-control form-control-lg fs-6"
                    placeholder="Email"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid': formControls.email.touched && serverErrorMessage
                    }"
                  />
                </div>

                <div class="col-12">
                  <input
                    type="password"
                    class="form-control form-control-lg fs-6"
                    placeholder="Password"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': formControls.password.touched && serverErrorMessage
                    }"
                  />
                  <div *ngIf="serverErrorMessage" class="invalid-feedback d-block">
                    {{ serverErrorMessage }}
                  </div>
                </div>

                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg w-100"
                    [disabled]="!logInForm.valid"
                  >
                    Log in
                  </button>
                </div>
              </form>

              <div class="col-12">
                <div class="text-divider"><small>or</small></div>
              </div>

              <div class="col-12">
                <button type="button" class="btn btn-outline-danger w-100" (click)="onClick()">
                  <div class="float-start"><i class="bi bi-google"></i></div>
                  Log in with Google
                </button>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <p class="card-text fw-light">
              Don't have an account? <a routerLink="/signup">Sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
