<div class="card shadow-sm">
  <div class="card-header">
    <h5 class="mb-0">Chat room</h5>
    <p class="small text-muted mb-0">2 members</p>
  </div>

  <div class="card-body d-flex flex-column-reverse overflow-y-scroll">
    <div>
      <div *ngFor="let msgCluster of messages$ | async">
        <app-text-divider [content]="msgCluster.date | date" />

        <div *ngFor="let msgGroup of msgCluster.messages">
          <div
            *ngIf="msgGroup.user.uid === currentUser.uid"
            class="d-flex justify-content-end align-items-end p-2"
          >
            <div class="row gy-1 px-1 ms-3">
              <div *ngFor="let msg of msgGroup.messages" class="col-12 d-flex justify-content-end">
                <div class="small d-inline-block bg-primary rounded-3 ps-2 p-1">
                  <p class="text-start text-light mb-0 me-2">{{ msg.text }}</p>
                  <p class="small text-end text-light fw-light mb-0 lh-1 user-select-none">
                    {{ msg.date | date : 'HH:mm' }}
                  </p>
                </div>
              </div>
            </div>

            <img
              class="rounded-circle user-select-none"
              width="40rem"
              referrerpolicy="no-referrer"
              [src]="msgGroup.user.avatar"
              [alt]="msgGroup.user.name"
            />
          </div>

          <div
            *ngIf="msgGroup.user.uid !== currentUser.uid"
            class="d-flex justify-content-start align-items-end p-2"
          >
            <img
              class="rounded-circle user-select-none"
              width="40rem"
              referrerpolicy="no-referrer"
              [src]="msgGroup.user.avatar"
              [alt]="msgGroup.user.name"
            />

            <div class="row gy-1 px-1 me-3">
              <div *ngFor="let msg of msgGroup.messages; index as i" class="col-12">
                <div class="small d-inline-block bg-light rounded-3 border ps-2 p-1">
                  <p *ngIf="i === 0" class="text-start text-success fw-semibold my-0 me-2">
                    {{ msgGroup.user.name }}
                  </p>
                  <p class="text-start mb-0 me-2">{{ msg.text }}</p>
                  <p class="small text-end text-muted fw-light mb-0 lh-1 user-select-none">
                    {{ msg.date | date : 'HH:mm' }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form
    class="card-footer text-muted d-flex align-items-end p-2"
    [formGroup]="msgForm"
    (ngSubmit)="onSubmit()"
  >
    <textarea
      class="form-control"
      placeholder="Write a message..."
      rows="1"
      [maxRows]="4"
      (keydown.enter)="onSubmit(); (false)"
      formControlName="messageContent"
      autosize
    ></textarea>
    <button type="submit" class="btn btn-primary ms-2" [disabled]="!msgForm.valid">
      <i class="bi bi-send"></i>
    </button>
  </form>
</div>
