<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="card-title text-center fw-semibold my-3">Sign up</h3>

    <form class="row gy-2" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <div class="col-12 input-group">
        <span class="input-group-text">@</span>
        <input
          type="text"
          class="form-control form-control-lg fs-6 has-validation"
          placeholder="Username"
          formControlName="username"
          [ngClass]="{
            'is-invalid': signUpForm.get('username')?.touched && signUpForm.get('username')?.errors
          }"
        />

        <div *ngIf="signUpForm.get('username')?.touched" class="invalid-feedback">
          <div *ngIf="signUpForm.hasError('required', 'username'); else nameMinLength">
            Username is required.
          </div>

          <ng-template #nameMinLength>
            <div *ngIf="signUpForm.hasError('minlength', 'username'); else nameMaxLength">
              The username must be at least 6 characters long.
            </div>
          </ng-template>

          <ng-template #nameMaxLength>
            <div *ngIf="signUpForm.hasError('maxlength', 'username')">
              The username can't be longer than 30 characters.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="col-12">
        <input
          type="email"
          class="form-control form-control-lg fs-6"
          placeholder="Email"
          formControlName="email"
          [ngClass]="{
            'is-invalid': signUpForm.get('email')?.touched && signUpForm.get('email')?.errors
          }"
        />

        <div *ngIf="signUpForm.get('email')?.touched" class="invalid-feedback">
          <div *ngIf="signUpForm.hasError('required', 'email'); else emailInvalid">
            Email is required.
          </div>

          <ng-template #emailInvalid>
            <div *ngIf="signUpForm.hasError('email', 'email')">
              The email address you entered is not valid.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="col-12 input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control form-control-lg fs-6 has-validation"
          placeholder="Password"
          formControlName="password"
          [ngClass]="{
            'is-invalid': signUpForm.get('password')?.touched && signUpForm.get('password')?.errors
          }"
        />
        <span class="input-group-text" (click)="toggleShowPassword()">
          <i
            class="bi"
            [ngClass]="{
              'bi-eye-fill': !showPassword,
              'bi-eye-slash-fill': showPassword
            }"
          ></i>
        </span>

        <div *ngIf="signUpForm.get('password')?.touched" class="invalid-feedback">
          <div *ngIf="signUpForm.hasError('required', 'password'); else passwordMaxLength">
            Password is required.
          </div>

          <ng-template #passwordMaxLength>
            <div *ngIf="signUpForm.hasError('maxlength', 'password'); else passwordInvalid">
              The password cannot be longer than 50 characters.
            </div>
          </ng-template>

          <ng-template #passwordInvalid>
            <div
              *ngIf="
                signUpForm.hasError('minlength', 'password') ||
                signUpForm.hasError('pattern', 'password')
              "
            >
              The password must have at least 8 characters and contain all of the following:
              lowercase letters, upercase letters, and numbers.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signUpForm.valid">
          Sign up
        </button>
      </div>
    </form>

    <app-text-divider [content]="'or'" />

    <div class="d-grid">
      <button
        type="button"
        class="btn btn-outline-danger position-relative"
        (click)="onJoinWithGoogleClick()"
      >
        <i class="float-start bi bi-google"></i>
        <div class="position-absolute top-50 start-50 translate-middle">Join with Google</div>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <p class="card-text fw-light">Already have an account? <a routerLink="/login">Log in</a></p>
  </div>
</div>
