<div class="container d-flex flex-column justify-content-center h-100">
  <div class="col-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="card-title text-center fw-semibold my-3">Log in</h3>

        <form class="row gy-2" [formGroup]="logInForm" (ngSubmit)="onSubmitLogInForm()">
          <div class="col-12">
            <input
              type="email"
              class="form-control form-control-lg fs-6"
              placeholder="Email"
              formControlName="email"
              [ngClass]="{
                'is-invalid': logInForm.hasError('invalidCredentials')
              }"
            />
          </div>

          <div class="col-12 input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control form-control-lg fs-6 has-validation"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{
                'is-invalid': logInForm.hasError('invalidCredentials')
              }"
            />
            <span class="input-group-text" (click)="toggleShowPassword()">
              <i
                class="bi"
                [ngClass]="{
                  'bi-eye-fill': !showPassword,
                  'bi-eye-slash-fill': showPassword
                }"
              ></i>
            </span>

            <div *ngIf="logInForm.hasError('invalidCredentials')" class="invalid-feedback">
              The email address or the password you entered is incorrect. Please try again.
            </div>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Log in</button>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <p class="card-text fw-light">Don't have an account? <a routerLink="/signup">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
