<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title text-center mb-3">Change password</h5>

    <form class="row gy-2" [formGroup]="newPasswordForm" (ngSubmit)="onUpdatePasswordSubmit()">
      <div class="col-12 input-group">
        <input
          [type]="showOldPassword ? 'text' : 'password'"
          class="form-control form-control-lg fs-6 has-validation"
          placeholder="Current Password"
          formControlName="oldPassword"
        />
        <span class="input-group-text" (click)="toggleShowOldPassword()">
          <i
            class="bi"
            [ngClass]="{
              'bi-eye-fill': !showOldPassword,
              'bi-eye-slash-fill': showOldPassword
            }"
          ></i>
        </span>

        <!-- <div *ngIf="newPasswordForm.hasError('invalidCredentials')" class="invalid-feedback">
      The password you entered is incorrect. Please try again.
    </div> -->
      </div>

      <div class="col-12 input-group">
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          class="form-control form-control-lg fs-6 has-validation"
          placeholder="New Password"
          formControlName="newPassword"
          [ngClass]="{
            'is-invalid':
              newPasswordForm.get('newPassword')?.touched &&
              newPasswordForm.get('newPassword')?.errors
          }"
        />
        <span class="input-group-text" (click)="toggleShowNewPassword()">
          <i
            class="bi"
            [ngClass]="{
              'bi-eye-fill': !showNewPassword,
              'bi-eye-slash-fill': showNewPassword
            }"
          ></i>
        </span>

        <div *ngIf="newPasswordForm.get('newPassword')?.touched" class="invalid-feedback">
          <div *ngIf="newPasswordForm.hasError('required', 'newPassword'); else passwordMaxLength">
            Please, enter your new password.
          </div>

          <ng-template #passwordMaxLength>
            <div *ngIf="newPasswordForm.hasError('maxlength', 'newPassword'); else passwordInvalid">
              The password cannot be longer than 50 characters.
            </div>
          </ng-template>

          <ng-template #passwordInvalid>
            <div
              *ngIf="
                newPasswordForm.hasError('minlength', 'newPassword') ||
                newPasswordForm.hasError('pattern', 'newPassword')
              "
            >
              The password must have at least 8 characters and contain all of the following:
              lowercase letters, upercase letters, and numbers.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!newPasswordForm.valid">
          Update password
        </button>
      </div>
    </form>
  </div>
</div>
