<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title text-center mb-3">Change password</h5>

    <form class="row gy-2" [formGroup]="newPasswordForm" (ngSubmit)="onUpdatePasswordSubmit()">
      <div class="col-12">
        <input
          type="password"
          class="form-control form-control-lg fs-6"
          placeholder="Current Password"
          formControlName="oldPassword"
        />

        <!-- <div *ngIf="newPasswordForm.hasError('invalidCredentials')" class="invalid-feedback">
      The password you entered is incorrect. Please try again.
    </div> -->
      </div>

      <div class="col-12">
        <input
          type="password"
          class="form-control form-control-lg fs-6"
          placeholder="New Password"
          formControlName="newPassword"
          [ngClass]="{
            'is-invalid':
              newPasswordForm.get('password')?.touched && newPasswordForm.get('password')?.errors
          }"
        />

        <div *ngIf="newPasswordForm.get('password')?.touched" class="invalid-feedback">
          <div *ngIf="newPasswordForm.hasError('required', 'password'); else passwordMaxLength">
            Please, enter your new password.
          </div>

          <ng-template #passwordMaxLength>
            <div *ngIf="newPasswordForm.hasError('maxlength', 'password'); else passwordInvalid">
              The password cannot be longer than 50 characters.
            </div>
          </ng-template>

          <ng-template #passwordInvalid>
            <div
              *ngIf="
                newPasswordForm.hasError('minlength', 'password') ||
                newPasswordForm.hasError('pattern', 'password')
              "
            >
              The password must have at least 8 characters and contain all of the following:
              lowercase letters, upercase letters, and numbers.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!newPasswordForm.valid">
          Update password
        </button>
      </div>
    </form>
  </div>
</div>
